@font-face { font-family: alba; src: url('fonts/ALBA.TTF'); }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar-brand {
  font-family: alba;
}

.list-tweets {
    position: relative;
    top: 50px; /* height of navbar */
    margin-top: 2em;
}

.item-tweet {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #eee;
  background-color: white;
}
