@font-face { 
  font-family: 'alba'; 
  src: url('fonts/ALBA.TTF'); 
}
/* ^^ FOR USE LATER? ^^
NOTE IF WE RELEASE THIS PROJECT WITH ALBA FONT, 
WE NEED TO HAVE CODE FOR MIAMI SEND A SAMPLE OF FINISHED WORK, 
ALONG WITH LETTER ACKNOWLEDGING THE DONATION OF PRODUCT FROM FONTALICIOUS */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background: #dceef6;
  color:white;
}

.navbar-brand {
  color:white;
}

.navbar-inverse {
  color:white;
}

.logo {
  /*font-family: alba;*/
  -webkit-text-stroke: 2px black;
  color: white;
  font-size: 50px;
}

.list-tweets {
    position: relative;
    top: 50px; /* height of navbar */
    margin-top: 2em;
}

.item-tweet {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #eee;
  background-color: white;
}
