@font-face { 
  font-family: 'alba'; 
  src: url('../fonts/ALBA.TTF'); 
}
/* ^^ FOR USE LATER? ^^
NOTE IF WE RELEASE THIS PROJECT WITH ALBA FONT, 
WE NEED TO HAVE CODE FOR MIAMI SEND A SAMPLE OF FINISHED WORK, 
ALONG WITH LETTER ACKNOWLEDGING THE DONATION OF PRODUCT FROM FONTALICIOUS */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container { padding-top: 15px; }

.navbar {
  background: #dceef6;
  color:white;
}


.logo {
  -webkit-text-stroke: 3.5px #214466;
  color: white;
  font-size: 50px;
  font-family: alba, Impact, Charcoal, sans-serif;
  cursor:default;
}

#wrapper {
  position:relative;
  top: 50px; /* height of navbar */
  margin-top: 2em;
}

.jumbotron {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #E6E6E6;
}

.list-tweets { margin-top: 1em; }

.item-tweet {
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background-color: white;
  padding-left:40px;
}

.item-tweet div{
  height:30px;
  width:30px;
  margin-left: -33px;
  position:absolute;
  margin-top:-3px;
}

.pos {
  background: url("../images/CheckMark.png") no-repeat;
}

.neg {
  background: url("../images/xmark.gif") no-repeat;
}